.opt:hover{
    transform: scale(1.2);
    cursor: pointer;
    opacity: .8;
}

.opt{
    transition: .5s;
}

.opt-aktif{
    transform: scale(1.2);
}

.bot img, .player img{
    width: 100px;
}

.hasil{
    width: 200px;
}
